body{
  background-color: #0033cc;
}

#enterbutton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  display: inline-block;

  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
}
#me{
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75vw;
  color: red;

  position: fixed;
  bottom: 2%;
  right: 2%;
}
#lives{
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  color: red;

  position: fixed;
  bottom: 0%;
  right: 2%;

}

.homelogo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  display: inline-block;
}

.wrap{
  text-align: center
}

.questions{
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  color: red;
  display: inline;
}

.dead{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  display: inline-block;
  text-align: center;
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  color: red;
}

.finalscreen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  display: inline-block;
  text-align: center;
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  color: red;
}

.text{
  font-family: bd-geminis, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
  color: red;

}

.homelogo img{
  /* transition-duration: 5s; */
  transform: rotateZ(0deg);
  animation-name: rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
animation-timing-function: linear;

}

@keyframes rotation {
  from {transform: rotateZ(0deg);}
  to {transform: rotateZ(360deg);}
}

a{
  color: red;
  text-decoration: none;
  transition: font-size 1s;
}

a:hover{
  color: white;
  transition-duration: 0.5s;
  font-size: 110%;
  cursor: pointer;
}

a#choice2A{
  color: #0033cc;
}

a#choice2A:hover{
  color: red;
}
