body{
  background-color: #cc2215;
}

.logo{
  width: 200px;
  position: absolute;
  right: 260px;
  bottom: 170px;

}

.videos{
  padding: 0.5%;
}

.design{
  padding: 1.56%;
}

.design:hover{
}

.grid{
  font-family: monarcha, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -1.5px;
  text-align: left;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 220px;
  margin-left: 50px;
  margin-right: 50px;
}

.me{
  font-family: monarcha, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -1.5px;
  text-align: center;

  margin: 500px;
  margin-top: 0px;
  margin-bottom: 0px;

  display: flex;
  flex-direction: column;
}

nav {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 400px;

}

h1{
  margin-bottom: 5px;
  margin-top: 0px;

  font-family: monarcha, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  letter-spacing: -1.5px;

}

ul {
  list-style-type: none;
  margin: 0;
 padding: 0;

}html

a {
  text-decoration: none;
  color: black;

  font-family: monarcha, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: -1px;
  transition: 0.25s;
}

a:hover{
  color:white;

  font-family: monarcha, serif;
  font-weight: 400;
  font-style: normal;

}
